* {
	box-sizing: border-box;
	cursor: default;
}

:root {
	/* Creating css custom properties */
	/* Base Colors */
	--primary-color: #3e3e3e;
	--text-color-on-primary-bg: #fff;
	--alt-text-color-on-bright-bg: #3e3e3e;
	--hover-color-on-primary-bg: #676767;
	--hover-color-on-bright-bg: #f5f5f5;
	--divider-color-on-bright-bg: #e0e0e0;

	/* Colors in relation to elements location */
	--header-bg-color: var(--primary-color);
	--header-content-color: var(--text-color-on-primary-bg);

	--edit-main-selector-color: var(--hover-color-on-bright-bg);
	--edit-main-selector-hover-color: #fff;
	--edit-main-selector-hover-border-color: #676767;
	--edit-main-selector-is-styled-color: #d3d3d3;

	--edit-main-selector-label-color: #e6e6e6;
	--edit-main-selector-label-close-color: #d3d3d3;
	--edit-main-selector-label-close-hover-color: #bababa;

	/* Fonts */
	--primary-font: Inter, sans-serif;
	--font-bold: 600;
	--initial-font-size: 0.85rem;
	--small-font-size: calc(var(--initial-font-size) * 0.75);

	/* Spacing */
	--quarter-step: calc(var(--step) / 4);
	--half-step: calc(var(--step) / 2);
	--step: 0.5rem;
	--double-step: calc(var(--step) * 2);
	--triple-step: calc(var(--step) * 3);

	/* Borders */
	--thin-border: 1px;
	--regular-border: var(--thin-border) solid transparent;
	--border-change-color-on-hover: 2px solid transparent;
	--regular-radius: 2px;
	--small-thing-radius: 1px;

	/* Transitions */
	--simple-transition: 0.25s ease;

	/* Layout */
	--header-height: 3rem;
	--sidebar-width: 12rem;
}

body {
	font-family: var(--primary-font);
	font-size: var(--initial-font-size);
	height: calc(100vh - var(--header-height));
}

main {
	display: flex;
	height: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
}
